*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1a1244;
    border-bottom: 4px solid #401e63;
}
nav{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}
nav div{
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;

}

/* hero area code start */
#first-section{
    width: 1400px;
    margin: auto;
}
.hero-section{
    width: 1400px;
    margin: auto;
    background-image: url("asset/website\ banner.jpg");
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.search-box-icon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box-icon-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;
}
.search-box-icon-parent i{
    background-color: green;
    color: red;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}


/* main section code start */
main{
    background-color: #2d236a;
    padding-top: 20px;
    padding-bottom: 50px;
}
#main-section{
    width: 1400px;
    margin: auto;
    padding: 50px 0;
}
.latest-video-parent{
    display: flex;
    justify-content: space-between;
}
.latest-video-text{
    font-size: 25px;
    color: #04AA6D;
    font-weight: bold;
}
.latest-pages{
    color: #04AA6D;
}
.latest-pages span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border: 1px solid #8080805b;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}

.single-items-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin-top: 20px;
}
.single-items{
    height: 250px;
    border: 3px solid gray;
}
.single-items img{
    width: 100%;
    height: 100%; 
    transition: 0.5s;
    cursor: pointer;
}
.single-items:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}
.single-items div{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
}

/* previous next page code */

#Previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#Previous-next-parent h3 a{
    background-color: #04AA6D;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
}
#Previous-next-parent h3 a:hover{
    color: #028354;
}
#Previous-next-parent a{
    text-decoration: none;
    color: white;
}
#Previous-next-parent div a{
    margin: 0 10px;
    background-color: antiquewhite;
    color: black;
    padding: 8px;
}
#Previous-next-parent div a:first-child{
    background-color: #04AA6D;
}

/* footer section start */
footer{
    background-color: #5F1E69;
    color: white;
}
#footer-container{
    width: 1400PX;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 50PX;
}
.footer-firstItem h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
.footer-firstItem:first-child p{
    margin-bottom: 50px;
}
.footer-secondItem h3 {
    font-size: 25px;
    padding: 20px 0;
    margin-top: 20px;
}
.footer-secondItem a{
    text-decoration: none;
    color: white;
}
.footer-secondItem p{
    margin-bottom: 10px;
}

.footer-thirdItem div{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
.footer-thirdItem div a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: #1a1244;
    padding: 10px;
    border-radius: 5px;
}
.footer-thirdItem p{
    margin-bottom: 10px;
}
.footer-thirdItem p:nth-child(3){
    margin-bottom: 70px;
}