*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #1a1244;
    border-bottom: 4px solid #401e63;
    position: sticky;
    top: 0;
}
nav{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}
nav div{
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;

}

/* header finish */

#about-section{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 50px;
    box-shadow: 10px 10px 5px gray;
    border: 3px solid red;
    border-radius: 5px;
    justify-content: space-between;
}

.about-img{
    width: 500px;
}
.about-img img{
    width: 100%;
}
.about-text h2{
    font-size: 80px;
    color: #1d42b3;
    margin-bottom: 20px;
    margin-top: 100px;
}
.about-text a{
    text-decoration: none;
    background-color: #1d42b3;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 5px;
}

.about-text p{
    font-weight: bold;
    color: #1d42b3;
}


/* ========================= */
/*  RESPONSIVE FOR MOBILE    */
/* ========================= */

@media (max-width: 768px){

    /* --- Nav Responsive --- */
    nav{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    nav ul{
        flex-direction: column;
        width: 100%;
    }

    nav ul li{
        margin: 5px 0;
    }

    nav ul li a{
        padding: 8px 15px;
        display: block;
        font-size: 18px;
    }

    /* --- About Section Responsive --- */
    #about-section{
        width: 100%;
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;
    }

    .about-img{
        width: 100%;
        margin-top: 20px;
    }

    .about-text h2{
        font-size: 50px;
        margin-top: 20px;
        text-align: center;
    }

    .about-text p{
        text-align: center;
    }

    .about-text a{
        margin-top: 20px;
    }
}


/* =========== Small Mobile =========== */
@media (max-width: 480px){

    nav ul li a{
        font-size: 16px;
        padding: 6px 12px;
    }

    .about-text h2{
        font-size: 40px;
    }

    #about-section{
        padding: 15px;
    }
}
